@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Basket";
}
<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="~/images/main_banner_text.png" />
    </div>
</section>

@* <div class="container" hx-boost="true" *@
@*      hx-push-url="true"> *@
<div id="basket-container" class="container">

    <partial name="_Index" model="Model"/>
</div>
