@using BlazorAdmin.Interfaces
@using BlazorAdmin.Models
@inject ILogger<Delete> Logger
@inject IRoleManagementService RoleManagementService
@inject DialogService DialogService

@namespace BlazorAdmin.Pages.RolePage

<RadzenDialog Visible="@_showDialog" Width="500px" CloseDialog="@Close">
    <ChildContent>
        <DialogTitle>
            Role Membership Update
        </DialogTitle>

        <DialogContent>
            <p>
                Are you sure you want to <strong class="text-danger">REMOVE</strong> @_userName from @_roleName?
            </p>
        </DialogContent>

        <DialogActions>
            <RadzenButton Text="Cancel" ButtonStyle="ButtonStyle.Secondary" Click="@Close" />
            <RadzenButton Text="Delete" ButtonStyle="ButtonStyle.Danger" Click="@DeleteClick" />
        </DialogActions>
    </ChildContent>
</RadzenDialog>

@code {
    [Parameter] public EventCallback<string> OnSaveClick { get; set; }

    private bool _showDialog = false;
    private string _roleName = "";
    private string _roleId = "";
    private string _userId = "";
    private string _userName = "";

    public async Task Open(string userId, string userName, string roleName, string roleId)
    {
        _userId = userId;
        _userName = userName;
        _roleName = roleName;
        _roleId = roleId;

        _showDialog = true;
    }

    private async Task Close()
    {
        _showDialog = false;
    }

    private async Task DeleteClick()
    {
        Logger.LogInformation("Removing User {userId} from Role {roleId}", _userId, _roleId);
        await RoleManagementService.DeleteUserFromRole(_userId, _roleId);

        Logger.LogInformation("Removed User {userId} from {roleId}", _userId, _roleId);
        await OnSaveClick.InvokeAsync(null);
        await Close();
    }
}