@using BlazorAdmin.Interfaces
@using BlazorAdmin.Models
@inject ILogger<Details> Logger
@inject IRoleManagementService RoleManagementService
@inject DialogService DialogService

@namespace BlazorAdmin.Pages.RolePage

<RadzenDialog Visible="@_showDialog" Width="600px" CloseDialog="@Close">
    <ChildContent>
        <DialogTitle>
            @_roleName Role - Members
        </DialogTitle>

        <DialogContent>
            @if (_members == null)
            {
                <RadzenProgressBar Mode="ProgressBarMode.Indeterminate"></RadzenProgressBar>
            }
            else if (_members.Count == 0)
            {
                <p>No members found.</p>
            }
            else
            {
                <RadzenDataGrid @ref="membersGrid" Data="@_members" TItem="UserForMembership" RowHover="true" Style="width:100%">
                    <Columns>
                        <RadzenDataGridColumn TItem="UserForMembership" Property="UserName" Title="Name" />
                        <RadzenDataGridColumn TItem="UserForMembership" Title="Actions">
                            <Template Context="member">
                                @if (member.UserName != "admin@microsoft.com")
                                {
                                    <RadzenButton Text="Remove from Role" ButtonStyle="ButtonStyle.Danger" Click="@(() => DeleteClick(member.Id, member.UserName))" Style="margin-left: 5px;" />
                                }
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            }
        </DialogContent>
    </ChildContent>
</RadzenDialog>

<DeleteUserFromRole OnSaveClick="RefreshMembers" @ref="DeleteConfirmationComponent"></DeleteUserFromRole>

@code {
    private bool _showDialog = false;
    private string _roleName = "";
    private string _roleId = "";
    private List<UserForMembership> _members = new List<UserForMembership>();
    private RadzenDataGrid<UserForMembership> membersGrid;
    private DeleteUserFromRole DeleteConfirmationComponent { get; set; }

    public async Task Open(string roleId, string roleName)
    {
        _roleName = roleName;
        _roleId = roleId;

        Logger.LogInformation("Now loading details... /Role/Details/{Id}", roleName, roleId);

        _members = (await RoleManagementService.GetMembershipByName(roleName)).RoleMembers;
        _showDialog = true;

        StateHasChanged();
    }

    private async Task Close()
    {
        _showDialog = false;
    }

    private async Task DeleteClick(string userId, string userName)
    {
        Logger.LogInformation("Confirming to remove User {userId} from {roleId}", userId, _roleId);
        await DeleteConfirmationComponent.Open(userId, userName, _roleName, _roleId);
    }

    private async Task RefreshMembers()
    {
        Logger.LogInformation("Refreshing members after removing a user from a role");
        _members = (await RoleManagementService.GetMembershipByName(_roleName)).RoleMembers;
        await membersGrid.Reload();
    }
}