@page "/roles"
@attribute [Authorize(Roles = BlazorShared.Authorization.Constants.Roles.ADMINISTRATORS)]
@inherits BlazorAdmin.Helpers.BlazorComponent
@namespace BlazorAdmin.Pages.RolePage

<PageTitle>eShopOnWeb Admin: Manage Roles</PageTitle>

<h1>Manage Roles</h1>

@if (roles == null)
{
    <Spinner></Spinner>
} 
else 
{
        <p class="esh-link-wrapper">
            <button class="btn btn-primary" @onclick="@(CreateClick)">
                Create New
            </button>
        </p>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
        <tbody class="cursor-pointer">
            @foreach (var role in roles){
                    <tr>
                        <td>@role.Name</td>
                    </tr>
                }
        </tbody>
    </table>

    <Create OnSaveClick="ReloadRoles" @ref="CreateComponent"></Create>
}